.userdetails{
    position: relative;
    top: 0vh;
    width: 100vw;
    left: 0vw;
    height: 100vh;
    background: #b4b4b4;
}
.userimage{
    position: relative;
    height: 25vh;
    width: 12vw;
    top: 5vh;
    left: 45vw;
    border-radius: 1vw;
    margin-bottom: 5vh
    /* background: #000000; */
}
.userimagelogo{
    position: relative;
    height: 25vh;
    width: 12vw;
    top: 0vh;
    left: 0vw;
    border-radius: 1vw;
    background: #000000;
    color: #ffffff;    
}
.userinfo{
    position: relative;
    top: 8vh;
    left: 20vw;
}
.nameofuser{
    position: relative;
    left: 20vw;
    top: 0vh;
    font-size: 1.5vw;
    font-family: 'Rubik';
    color: #ffffff;
    font-weight: bolder;
    width: 30vw;
    height: 5vh;
    text-align: left;
    border-radius: .5vw;
    margin-bottom: 2vh;
    padding-left: 1vw;
}
.belowimage{
    position: relative;
    left: 36vw;
    top: 5vh;
    text-align: center;
    background: #2c00a5;
    padding-top: 1vh;
    color: #ffffff;
    padding-left: 0vw;
}
.details{
    position: relative;
    background: #ffffff;
    color: #000000;
    padding-left: 1vw;
    padding-top: 1vh;
    width: 50vw;
}