.menu{
    position: relative;
    width: 100vw;
}
.topofmenu{
    position: sticky;
    top: 8vh;
    display: inline-flex;
    z-index: 1;
    background: #ffffff;
}
.quote{
    position: relative;
    text-align: center;
    padding-top: 3vh;
    width: 100vw;
    font-family: 'sacramento';
    color: rgb(24, 58, 78);;;
    font-size: 3.5vw;
    font-weight: bold;
    border-bottom: 1px solid rgb(255, 7, 7);
    margin-right: -5vw;
}
.cart{
    position: relative;
    left: 0vw;
    font-size: 3vw;
    padding-top: 4vh;
    color: #000000;
}
.cartlength{
    position: relative;
    font-family: 'Rubik';
    font-size: 1.3vw;
    left: 3vw;
    top: -7vh;
    width: 1vw;
    text-decoration: none;
    color: #000000;
}
.menusection{
    position: relative;
    width: 100vw;
    top: 3vh;
    padding-bottom: 3vh;
    display: inline-flex;
}
.menuheadingsection{
    position: relative; 
    width: 30vw;
    border-right: .5px solid #615f5f;
    padding-top: 18vh;
    padding-right: 1vw;
}
.ourbest{
    position: relative;
    text-align: center;
    font-family: 'Oregano';
    top: -10vh;
    margin-bottom: -3vh;
    font-size: 3vw;
    color: rgb(197, 0, 0);  
}
.menuheading{
    position: relative;
    font-family: 'Rubik';
    font-size: 1.3vw;
    height: 5vh;
    text-align: right;
   
}
.menuheadingname{
    position: relative;
    cursor: pointer;
}
.menuitems{
    position: relative;
    width: 75vw;
}
.eachitems{
    position: relative;
    height: 15vh;
    width: 40vw;
    left: 5vw;
    padding-top: 5vh;
    font-family: 'Rubik';
    font-weight: bolder;
    display: inline-flex;
}
.eachitemsubtopic{
    position: relative;
    height: 5vh;
    width: 60vw;
    border-bottom: 1px solid rgb(255, 7, 7);
    left: 5vw;
    text-align: center;
    font-size: 1.6vw;
    padding-top: 5vh;
    font-family: 'Rubik';
    font-weight: bolder;
}
.eachitemdetails{
    position: relative;
    width: 40vw;
    margin-right: -5vw;
}
.eachitemsname{
    position: relative;
    font-size: 1.3vw;
}
.eachitemsprice{
    position: relative;
    top: 2vh;
    font-size: 1.2vw;
    left: .5vw;
}
.addtocart{
    position: relative;
    height: 6vh;
    width: 7vw;
    border-radius: .5vw;
    top: 0vh;
    left: 10vw;
    background: #000000;
    border: none;
    outline: none;
    color: #ffffff;
    font-family: 'Rubik';
    cursor: pointer;
}
.foodimage{
    position: relative;
    height: 10vh;
    width: 5vw;
    margin-top: 0vh;
}

.addedincartbuttons{
    position: relative;
    display: inline-flex;
}
.addedtocart{
    position: relative;
    height: 5vh;
    width: 3vw;
    border-radius: .5vw;
    top: 0vh;
    left: 10vw;
    background: #000000;
    border: none;
    outline: none;
    color: #ffffff;
    font-family: 'Rubik';
    cursor: pointer;
}
.addedtocartquantity{
    position: relative;
    font-family: 'Rubik';
    font-size: 1.3vw;
    left: 10vw;
    padding-left: 1vw;
    padding-right: 1vw;
    top: 1vh;
}
